@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");

:root {
  --background: #09090b;
  --foreground: #f4f4f5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cairo", sans-serif;
}

html {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

[dir="ltr"] {
  direction: ltr;
}
